@model ChartMVC.Models.HIndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Charts</h1>
<div class="container-fluid">

    <p class="mb-4">
        Chart.js is a third party plugin that is used to generate the charts in this theme.
        The charts below have been customized - for further customization options, please visit the <a target="_blank" href="https://www.chartjs.org/docs/latest/">
            official Chart.js
            documentation
        </a>.
    </p>

    <!-- Content Row -->
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <div class="col-6">
                    <!-- Area Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Pie Chart</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Bar Chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                        </div>
                        <div class="card-body">
                            <div>
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');

    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: @Html.Raw(Json.Serialize(Model.pieChartData))
        })
</script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var myPieChart = new Chart(ctx, {
        type: 'line',
        data: @Html.Raw(Json.Serialize(Model.pieChartData))
        })
</script>
